<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="icon-new_releases display-1 text-info"></span>
                <h2 class="display-3 text-black">Log In First!</h2>
                <p class="lead mb-5">If you are new, you can create an account for free.</p>

                <div class="row mb-5">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <p><a asp-controller="ApplicationUser" asp-action="LogIn" class="btn btn-md height-auto px-4 py-3 btn-primary">Log In</a></p>
                    </div>
                    <div class="col-md-6">
                        <p><a asp-controller="ApplicationUser" asp-action="SignUp" class="btn btn-md height-auto px-4 py-3 btn-outline-primary">Sign Up</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
