@model List<OrderItem>

@{
    ViewData["Title"] = "Order Details";
}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                <a asp-controller="Home" asp-action="Index">Home</a> <span class="mx-2 mb-0">/</span>
                <strong class="text-black">Order Details</strong>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <form class="col-md-12" method="post">
                <div class="site-blocks-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="product-thumbnail">Image</th>
                                <th class="product-name">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-total">Total</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="product-thumbnail">
                                        <img src="@Url.Content(item.Product.ImagePath)" alt="Image" class="img-fluid">
                                    </td>
                                    <td class="product-name">
                                        <h2 class="h5 text-black">@item.Product.Name</h2>
                                    </td>
                                    <td>$@item.Product.Price</td>
                                    <td class="product-price">
                                        <h2 class="h5 text-black">$@item.Quantity</h2>
                                    </td>
                                    <td>$@(item.Product.Price*item.Quantity)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <a type="submit" asp-controller="Home" asp-action="Shop" class="btn btn-outline-primary btn-md btn-block">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>