@model IEnumerable<Product>

@{
    ViewData["Title"] = "Shop";
}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a asp-action="Index">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black"><a asp-action="Shop">Store</a></strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Reference</h3>
                <button type="button" class="btn btn-secondary btn-md dropdown-toggle px-4" id="dropdownMenuReference"
                        data-toggle="dropdown">
                    Reference
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                    <a asp-action="Sort" asp-route-order="nameasc" class="dropdown-item">Name, A to Z</a>
                    <a asp-action="Sort" asp-route-order="namedesc" class="dropdown-item">Name, Z to A</a>
                    <a asp-action="Sort" asp-route-order="priceasc" class="dropdown-item">Price, low to high</a>
                    <a asp-action="Sort" asp-route-order="pricedesc" class="dropdown-item">Price, high to low</a>
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-lg-4 text-center item mb-4">
                    <a asp-action="SingleProduct" asp-route-id="@item.Id">
                        <img src="@Url.Content(item.ImagePath)" width="200" height="270" text-align="center">
                        <h3 class="text-dark">@item.Name</h3>
                        <p class="price">$@item.Price</p>
                    </a>

                </div>
            }
        </div>
    </div>
</div>